<div class="digital-clock-box">
    <div class="format-dropdown-holder">
        <h2>Digital Clock</h2>

        <app-time-format-dropdown [formats]="timeFormats" [formatType]="'hour'" [defaultText]="'Hour Format'"
            (formatSelected)="onFormatSlected($event)">
        </app-time-format-dropdown>
        <app-time-format-dropdown [formats]="minuteFormats" (formatSelected)="onFormatSlected($event)"
            [defaultText]="'Minute Format'">
        </app-time-format-dropdown>
    </div>

    <div class="digital-clock-wrapper">
        <div class="digital-clock-holder">
            <app-digit-box [timeUnit]="time.getHours()" [timeFormat]="hourFormat" [formatType]="'hour'"
                timeUnitName="HOUR">
            </app-digit-box>
            <span class="double-dot"></span>
            <app-digit-box [timeUnit]="time.getMinutes()" [timeFormat]="minuteFormat" [formatType]="'minute'"
                timeUnitName="MINUTE"></app-digit-box>
            <span class="double-dot"></span>
            <app-digit-box [timeUnit]="time.getSeconds()" timeUnitName="SECOND"></app-digit-box>

            <div class="am-pm-holder">
                <div class="am">
                    <span [ngStyle]="{'backgroundColor': isTwelveHourFormat() === 'AM' ? '#cb2c2b' : '#4C4C59'}"
                        class="dot"></span>
                    <span>AM</span>

                </div>
                <div class="pm">
                    <span [ngStyle]="{'backgroundColor': isTwelveHourFormat() === 'PM' ? '#cb2c2b' : '#4C4C59'}"
                        class="dot"></span>
                    <span>PM</span>
                </div>
            </div>
        </div>

    </div>
    <div class="version-text">Version 00:00</div>
</div>