<div class="digital-clock-box">
    <div class="format-dropdown-holder">
        <h2>Time Format</h2>

        <app-time-format-dropdown [formats]="timeFormats" [formatType]="'hour'" [defaultText]="'Hour Format'"
            (formatSelected)="onFormatSlected($event)">
        </app-time-format-dropdown>
        <app-time-format-dropdown [formats]="minuteFormats" (formatSelected)="onFormatSlected($event)"
            [defaultText]="'Minute Format'">
        </app-time-format-dropdown>
    </div>

</div>

<lib-angular-digital-clock [hourFormat]="hourFormat" [minuteFormat]="minuteFormat"></lib-angular-digital-clock>